.main__page_container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: row;
    gap: var(--M);
    justify-content: space-between;
}

/* .main__page_container>*:last-child {
    margin-right: calc(-1 * var(--M));
    background-color: red;
} */







#contentForms {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, .35);

    /* transform: -50% -50%; */
}

#contentForms .panel_component{
    background-color: white;
}

.headed_panel_component {
    display: flex;
    flex-flow: column nowrap;
}

.content_Panel__content_container {

    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

    margin-right: calc(-1 * var(--L)); 

    overflow-y: auto;
}
